@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-table-thead {
  tr {
    th {
      font-weight: 300 !important;
    }
  }
}

.ant-table-tbody {
  tr.ant-table-row.ant-table-row-level-0 {
    td:first-child {
      font-weight: 700;
    }
  }
}
